.body {
  margin: 0;
  font-family: sans-serif;
}

.toast {
  border: 2px solid var(--primary);
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem 0 var(--white);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  color: var(--white);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(41, 41, 41) 0%,
    rgba(4, 0, 4, 1) 90%
  );

  @media only screen and (min-width: 40rem) {
    padding: 6rem 4rem;
  }
}

.title {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 0.25rem 0.25rem var(--primary);

  @media only screen and (min-width: 40rem) {
    font-size: 3rem;
  }
}

.logo {
  width: 6rem;
}
