.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 2rem;
  border: 2px solid #000;
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formInner {
  display: flex;
  gap: 1rem;
}

.label {
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
}

.input {
  padding-left: 0.5rem;
}

.alert {
  text-align: right;
}
