.container {
  margin: 2rem;
  padding: 2rem;
  border: 2px solid #000;

  @media only screen and (min-width: 40rem) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.heading {
  font-size: 2rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formInner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;

  @media only screen and (min-width: 40rem) {
    flex-direction: row;
  }
}

.label {
  align-self: flex-start;
  text-transform: uppercase;
  font-weight: bold;

  @media only screen and (min-width: 40rem) {
    align-self: center;
  }
}

.input {
  box-sizing: border-box;
  height: 2.375rem;
  padding-left: 0.5rem;
}

.alert {
  text-align: right;
}
