.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  border: 0.125rem solid #000;
}

.time {
  display: inline-block;
  justify-self: flex-start;
  font-size: 0.75rem;
  opacity: 0.5;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
