.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background: #111;
  border: 0;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:hover {
    background: #222;
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0 #dedede;
  }
}

.btnDanger {
  @extend .btn;

  background-color: rgb(255, 85, 85);

  &:hover {
    background-color: rgb(255, 100, 100);
  }
}

.btnWhite {
  @extend .btn;

  color: #111;
  background-color: #fff;
  border: 0.125rem solid #111;

  &:hover {
    background-color: #fff;
  }
}

.btnMini {
  @extend .btn;

  padding: 0.375rem 0.75rem;

  font-size: 0.75rem;
}

.btnDangerMini {
  @extend .btnDanger;
  @extend .btnMini;
}

.btnWhiteMini {
  @extend .btnWhite;
  @extend .btnMini;
}
