.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100dvh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3rem;
  background-color: #111;
  color: #fff;
}

.heading {
  font-size: 4rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem 3rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
}

.input {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
