.container {
  @media only screen and (min-width: 40rem) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100dvh;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  background-color: var(--primary);
  color: var(--white);
}

.heading {
  font-size: 4rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem 3rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 40.125rem;
}

.label {
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
}

.helper {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.input {
  padding-left: 0.5rem;

  &:not(input) {
    padding-top: 0.5rem;
    font-family: sans-serif;
  }

  &:not(textarea) {
    height: 2.375rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
