.container {
  padding: 1.5rem;
  background-color: #eee;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.headerOptions {
  display: flex;
  gap: 1rem;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.beats {
  display: flex;
  gap: 1rem;
  overflow-x: auto;

  > * {
    width: 15rem;
    flex-shrink: 0;
  }
}
