.container {
  padding: 1rem;
  background-color: #eee;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.beats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}